#main {
  height: 100vh;
  overflow-x: hidden
}

.splash {
  color: white;
}

#name {
  position: absolute;
  top: 5vh;
  right: 5vw;
}

#title {
  position: absolute;
  bottom: 15vh;
  left: 5vw;
}

#portbutton {
  position: absolute;
  bottom: 10vh;
  right: 5vw;
}

#brand {
  flex: 1
}